{% extends 'rango/base_landing.html' %}
{% load staticfiles %}

{% block title_block %}About Rango{% endblock %}


{% block body_block %}
    <h2 class>About us</h2>
    <div class="col-md-10">
        <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded">
               <h5 class="fst-italic">What we want to do </h5>
                <p class="mb-3">Bingo is a site that has To Buy and To Avoid catalogues to show the trend of luxury watches. Users can find the details of the watch and click on the link to make a purchase.</p>We hope our users can get what they want to know about luxury watches and the current trends in the luxury watch market from Bingo. In addition to providing information for luxury watch collectors and current populate to watch collectors and experts, We also want to help people who are trying to buy the first luxury watch for themselves, friends, and family. Probably, the new buyer does not know much about luxury watches. They can browse our catalogues to find whether a special watch is worth buying. Even they can just find suitable watch by our recommended and purchase it efficiently and conveniently. </p>
            </div>
            <div class="p-4 mb-3 bg-light rounded">
                <h5 class="fst-italic">Who we want to be for</h5>
                <p class="mb-3">Senior Watch Lovers, Collectors, Experts </p>Beginner, One-time browser, New buyer</p>
            </div>

{#   <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat" /> <!-- New line -->#}
{% endblock %}