{% extends 'rango/base_landing.html' %}
{% load staticfiles %}
{% block title_block %}Luxury Watch{% endblock %}

{% block body_block %}
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <!--<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{ MEDIA_URL }}banner1.jpg" class="d-block w-100" alt="rolex">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Registration</h1>
            <p>To vote your favorite watches.</p>
            <p><a class="btn btn-lg btn-primary" href="{% url 'registration_register' %}">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{ MEDIA_URL }}banner5.jpg" class="d-block w-100" alt="...">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption">
            <h1>This Week Top 5 Watches to buy.</h1>
            <p>Don't miss opportunity to buy a watch.</p>
            <p><a class="btn btn-lg btn-primary" href="#top5">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing" id="top5">
    <h1 class="bi bi-cart-check-fill" style="font-size: 2rem; color: #0D6FED;"> Top 5 Watches to buy</h1></br>
      
    <div class="row">  
        {% if to_buy_lst %}
            {% for category in to_buy_lst %}
            
            <!-- Three columns of text below the carousel -->

            <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{ MEDIA_URL }}{{ category.picture }}" alt="..." role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
            <h2>{{ category.name }}</h2>
            <p>{{ category.description }}</p>
            <p><a class="btn btn-secondary" href="{% url 'rango:show_more' category.slug %}">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->


            {% endfor %}
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}         
    </div><!-- /.row -->

    <hr class="featurette-divider">

    <div class="container marketing">
        <h1 class="bi bi-cart-x-fill" style="font-size: 2rem; color: red;"> Top 5 Watches to avoid</h1></br>
          
        <div class="row">  
            {% if not_to_buy_lst %}
                {% for category in not_to_buy_lst %}
                
                <!-- Three columns of text below the carousel -->
    
                <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{ MEDIA_URL }}{{ category.picture }}" alt="..." role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
                <h2>{{ category.name }}</h2>
                <p>{{ category.description }}</p>
                <p><a class="btn btn-secondary" href="{% url 'rango:show_more' category.slug %}">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
    
    
                {% endfor %}
            {% else %}
                <strong>There are no categories present.</strong>
            {% endif %}         
    </div><!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <h1 class="bi bi-pencil-fill" style="font-size: 2rem; color: #0D6FED;"> Recent Comments</h1></br>
    {% if comments %}
      {% for comment in comments %}

        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic"><i class="bi bi-chat-right-text" style="font-size: 2rem; color: #0D6FED;"></i>  {{ comment.content }} </h4>
          <p class="mb-0"><strong>{{ comment.user }} -> {{ comment.category }} </strong> 
            {% with ''|center:comment.rating as range %}
            {% for _ in range %}
              <i class="bi bi-star-fill" style="font-size: 1rem; color: blue;"></i> 
            {% endfor %}
            {% endwith %}

            Date: {{ comment.log_datetime }}</p>
        </div>        
        
        <!--<hr class="featurette-divider"> -->     

      {% endfor %}
    {% else %}
      <strong>There are no comment present.</strong>
    {% endif %}  

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

{% endblock %}