{% extends 'rango/base_landing.html' %}
{% load staticfiles %}
{% load rango_template_tags %}

{% block title_block %}Luxury Watch Catalogue{% endblock %}

{% block body_block %}

<div class="container">

    
    
    <div class="row g-5">

                <div class="col-md-4">
                    <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4 mb-3 bg-light rounded">
                        <h4 class="fst-italic">Figures</h4>
                        <p class="mb-0">
                            <div>
                                <canvas id="myChart" width="100%" height="100%" ></canvas>
                            </div>
                        </p>
                    </div>
            
                    <div class="p-4">
                        <h4 class="fst-italic">Quick Access</h4>
                        <ol class="list-unstyled mb-0">
                            {% get_category_list category %}
                        </ol>
                    </div>
            
                    </div>
                </div>

                <div class="col-md-8">

                {% if categories %}
                    {% for category in categories %}

                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">{{ category.type }}</strong>
                        <h3 class="mb-0">{{ category.name }}</h3>
                        <div class="mb-1 text-muted"><strong id="like_count">{{ category.likes }}</strong> likes <i class="bi bi-hand-thumbs-up-fill" style="font-size: 1rem; color: #0D6FED;"></i></div>
                        <p class="card-text mb-auto">{{ category.description }}</p>
                        <a href="{% url 'rango:show_more' category.slug %}" class="stretched-link">Continue reading</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                        <!--<svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"><text>thumbnail</text></svg>-->
                        <img src="{{ MEDIA_URL }}{{ category.picture }}" width="200" height="200" alt="..."></img>
                        
                        </div>
                    </div>
                    {% endfor %}
   
                {% else %}
                    <strong>There are no categories present.</strong>
                {% endif %}
                </div>
    </div>

</div>
{% endblock %}